fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-ollama
langchain-text-splitters
chromadb
sentence-transformers
pymupdf
torch --index-url https://download.pytorch.org/whl/cpu
torchvision= --index-url https://download.pytorch.org/whl/cpu
torchaudio= --index-url https://download.pytorch.org/whl/cpu
pydantic
typing-extensions